<section id="content">
    <div id="full" class="shadow">
        <h2><a ui-sref="landing">About Us</a></h2>
        <h4>What is Micro Manager?</h4>
        <p>Micro Manager is an application that will help you organize and direct your employees and their tasks.  You can assign tasks to certain employees and have them complete it by a certain time or date.  This makes it so you do not have to meet with every employee to assign what needs to get done. With a few keystrokes and clicks of a button you can send them their assignments and when they are expected to be done.</p>
        <h4>How can this help you?</h4>
        <p>This can be an invaluable tool to a manager or supervisor of a company.  This can save them time by making them able to assign jobs to employees from their desk.  This is also a reliable way of tracking when and who you assigned specific tasks.  This gets rid of all of the arguments of miscommunication between the employee and other staff.  This also keeps track of when the task is sent and when it is completed.  This gives the management invaluable information of how long task usually take.</p>
        <h4>Who can use Micro Manager?</h4>
        <p>Micro Manager is not just for large businesses, It can be used by anybody that would like to assign and keep track of tasks that are given out. Simply put, Micro Manager can be used by anybody.</p>
    </div>
</section>
