<section id="content">
    <div id="full" class="shadow">
        <h2><a ui-sref="landing">Contact Us</a></h2>
        <p>If you have any question about Micro Manager then you can reach us at microSupport@mm.com and we will reach you as soon as possible to solve the problem.</p>
        <h4>The Creators:</h4>
        <p>These are the guys behind the scenes to bring you Micro Manager and all the data that is accessed in the application.</p>
        <h5>Back End Developers:</h5>
        <ul>
            <li>Aaron Manzano</li>
            <li>Sam Ngo</li>
        </ul>
        <p>These are the guys that brought you all the visuals for the Micro Manager application.</p>
        <h5>Front End Developers:</h5>
        <ul>
            <li>Troy Partridge</li>
            <li>Brenden Frandsen</li>
            <li>Justin Lodes</li>
        </ul>
    </div>
</section>
