<div id="siteNav">
    <button class="btn" ui-sref="app"><i class="icon-share-alt"></i> Move to App Page</button>
</div>
<section id="content">
    <div id="about" class="shadow">
        <h2><a ui-sref="about">About Us</a></h2>
        
        <h4>What is Micro Manager?</h4>
        <p>Micro Manager is an application that will help you organize and direct your employees and their tasks.  You can assign tasks to certain employees and have them complete it by a certain time or date.  This makes it so you do not have to meet with every employee to assign what needs to get done. With a few keystrokes and clicks of a button you can send them their assignments and when they are expected to be done.</p>
        <h4>How can this help you?</h4>
        <p>This can be an invaluable tool to a manager or supervisor of a company.  This can save them time by making them able to assign jobs to employees from their desk.  This is also a reliable way of tracking when and who you assigned specific tasks.  This gets rid of all of the arguments of miscommunication between the employee and other staff.  This also keeps track of when the task is sent and when it is completed.  This gives the management invaluable information of how long task usually take.</p>
        <h4>Who can use Micro Manager?</h4>
        <p>Micro Manager is not just for large businesses, It can be used by anybody that would like to assign and keep track of tasks that are given out. Simply put, Micro Manager can be used by anybody.</p>
    </div>
    <div id="purchase" class="shadow">
        <h2><a ui-sref="purchase">Purchase</a></h2>
        
        <p>
            What can you do with Micro Manager?
            <br />
            There are two types of users for Micro Manager
            <br /><br />
            <b>Micro User:</b>
        </p>
            <ul>
                <li>Join or leave a group</li>
                <li>Update task’s progress</li>
                <li>Post a comment on a message board</li>
            </ul>
        <p>
            With an upgraded account you can access much more of Micro Manager
            <br /><br />
            <b>Pro User:</b>
        </p>
            <ul>
                <li>Create, delete, join, or leave a group</li>
                <li>Add, delete, and assign tasks</li>
                <li>Update task’s status and edit task’s properties</li>
                <li>Can delete own completed tasks</li>
                <li>Edit other member’s privileges</li>
                <li>Post, remove, and edit a thread</li>
                <li>Post and remove messages</li>
                <li>Delete other’s messages</li>
            </ul>
    </div>
    <div id="contact" class="shadow">
        <h2><a ui-sref="contact">Contact Us</a></h2>
        
        <p>If you have any question about Micro Manager then you can reach us at microSupport@mm.com and we will reach you as soon as possible to solve the problem.</p>
        <h4>The Creators:</h4>
        <p>These are the guys behind the scenes to bring you Micro Manager and all the data that is accessed in the application.</p>
        <h5>Back End Developers:</h5>
        <ul>
            <li>Aaron Manzano</li>
            <li>Sam Ngo</li>
        </ul>
        <p>These are the guys that brought you all the visuals for the Micro Manager and the application.</p>
        <h5>Front End Developers:</h5>
        <ul>
            <li>Troy Partridge</li>
            <li>Brenden Frandsen</li>
            <li>Justin Lodes</li>
        </ul>
    </div>
</section>
