<section id="content">
    <div id="full" class="shadow">
        <h2><a ui-sref="landing">Purchase</a></h2>
        <p>
            What can you do with Micro Manager?
            <br />
            There are two types of users for Micro Manager
            <br />
            <br />
            <b>Micro User:</b>
        </p>
        <ul>
            <li>Join or leave a group</li>
            <li>Update task’s progress</li>
            <li>Post a comment on a message board</li>
        </ul>
        <p>
            With an upgraded account you can access much more of Micro Manager
            <br />
            <br />
            <b>Pro User:</b>
        </p>
        <ul>
            <li>Create, delete, join, or leave a group</li>
            <li>Add, delete, and assign tasks</li>
            <li>Update task’s status and edit task’s properties</li>
            <li>Can delete own completed tasks</li>
            <li>Edit other member’s privileges</li>
            <li>Post, remove, and edit a thread</li>
            <li>Post and remove messages</li>
            <li>Delete other's messages</li>
        </ul>
    </div>
</section>
