<div class="container">
	<div id="returnContainer">
	    <button type="submit" ui-sref="landing" class="btn-small"><< Back</button>
    </div>
    <h1>CECS 491 - Team 2</h1>
    <h2>Members: </h2>
    <h3>Aaron M.<br>
        Brenden F.<br>
        Justin L.<br>
        Sam N.<br>
        Troy P.</h3>
    <hr>
    <h2>Progress Reports: </h2>
    <ol>
        <li><a href="../../deliverables/Week01_PR_Fall_2013_Team_02.xls">Week 01 Progress Report</a></li>
        <li><a href="../../deliverables/Week02_PR_Fall_2013_Team_02.xls">Week 02 Progress Report</a></li>
        <li><a href="../../deliverables/Week03_PR_Fall_2013_Team_02.xls">Week 03 Progress Report</a></li>
        <li><a href="../../deliverables/Week04_PR_Fall_2013_Team_02.xls">Week 04 Progress Report</a></li>
        <li><a href="../../deliverables/Week05_PR_Fall_2013_Team_02 .xls">Week 05 Progress Report</a></li>
        <li><a href="../../deliverables/Week06_PR_Fall_2013_Team_02.xls">Week 06 Progress Report</a></li>
    </ol>
</div>
